<nav class="p-5 bg-gray-500">
  <div class="container mx-auto flex items-center justify-between">
    <div class="flex gap-5 text-white">
      <a routerLink="/recipes" class="font-bold text-3xl">Recipe book</a>
      <a
        class="p-2 rounded-lg"
        routerLinkActive="bg-gray-900"
        routerLink="/recipes"
        >Recipe</a
      >
      <a
        class="p-2 rounded-lg"
        routerLinkActive="bg-gray-900"
        routerLink="/shopping-list"
        >Shopping List</a
      >
    </div>
    <div class="flex items-center text-white">
      <app-dropdown
        title="Manage"
        class="w-fit"
        [options]="dropdownOptions"
      ></app-dropdown>
    </div>
  </div>
</nav>
