<form
  class="flex flex-col gap-3 max-h-[85.7vh] overflow-visible"
  #form="ngForm"
  (ngSubmit)="onSubmit(form)"
>
  <h1 class="text-3xl font-bold">{{ submitText }} Recipe</h1>
  <div class="grid">
    <label class="font-bold">Name</label>
    <input ngModel type="text" class="input" name="name" />
  </div>
  <div class="grid">
    <label class="font-bold">Description</label>
    <textarea ngModel type="text" class="input" name="description"></textarea>
  </div>
  <div class="grid">
    <label class="font-bold">Image URL</label>
    <input ngModel type="text" class="input" name="imagePath" />
  </div>
  <h3 class="font-bold text-3xl">Ingredients</h3>
  <hr class="border border-black" />
  <div class="flex gap-2 items-end">
    <div>
      <label class="grid font-bold">Name</label>
      <input #ingredientName type="text" class="input" name="ingredient" />
    </div>
    <div>
      <label class="grid font-bold">Amount</label>
      <input #ingredientAmount type="number" class="input" name="amount" />
    </div>
    <button
      type="button"
      (click)="onAddIngredient(ingredientName, ingredientAmount)"
      class="flex-1 button green"
    >
      +
    </button>
  </div>
  <div class="overflow-auto">
    <app-shopping-list
      [ingredients]="ingredients"
      [service]="onDeleteIngrient"
    ></app-shopping-list>
  </div>
  <button class="button info">{{ submitText }}</button>
</form>
