<form
  class="flex flex-col gap-3 max-h-[85.7vh] overflow-visible"
  #form="ngForm"
  (ngSubmit)="onSubmit()"
>
  <h1 class="text-2xl font-bold">{{ submitText }} Recipe</h1>
  <div class="grid">
    <label class="font-bold">Name <span class="text-red-600">*</span></label>
    <input
      ngModel
      type="text"
      class="input"
      name="name"
      required
      #name="ngModel"
    />
    <span *ngIf="!name.valid && name.touched" class="text-red-600 text-sm"
      >Name is required</span
    >
  </div>
  <div class="grid">
    <label class="font-bold"
      >Image URL <span class="text-red-600">*</span></label
    >
    <div class="flex gap-5 items-center">
      <input
        ngModel
        type="text"
        class="input flex-1 max-h-11"
        name="imagePath"
        #imagePath="ngModel"
        pattern="(https:)([/|.|\w|\s|-])*\.(?:jpg|gif|png)"
        required
      />
      <img
        *ngIf="imagePath.valid"
        class="image"
        [src]="imagePath.value"
        [alt]="imagePath.value"
      />
    </div>
    <span
      *ngIf="!imagePath.valid && imagePath.touched"
      class="text-red-600 text-sm"
      >Please enter a valid image path</span
    >
  </div>
  <div class="grid">
    <label class="font-bold">Description</label>
    <textarea ngModel type="text" class="input" name="description"></textarea>
  </div>
  <h3 class="font-bold text-2xl">Ingredients</h3>
  <hr class="border border-black" />
  <div class="flex gap-2 items-end">
    <div class="flex-1">
      <label class="grid font-bold">Name</label>
      <input
        #ingredientName
        type="text"
        class="input w-full"
        name="ingredient"
      />
    </div>
    <div class="flex-1">
      <label class="grid font-bold">Amount</label>
      <input
        #ingredientAmount
        type="number"
        class="input w-full"
        name="amount"
      />
    </div>
    <button
      type="button"
      (click)="onAddIngredient(ingredientName, ingredientAmount)"
      class="w-24 button green"
    >
      +
    </button>
  </div>
  <div class="overflow-auto">
    <!-- <app-shopping-list
      [ingredients]="ingredients"
      (onDelete)="onDeleteIngrient($event)"
    ></app-shopping-list> -->
    <div class="card-container">
      <div
        *ngFor="let ingredient of ingredients; let i = index"
        class="card p-4"
      >
        <a
          >{{ ingredient.name }} - (
          {{ ingredient.amount | amount: "PZA":1 }} )</a
        >
        <button type="button" class="button red" (click)="onDeleteIngrient(i)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="100%"
            height="100%"
            fill="currentColor"
            class="h-4 w-4"
            viewBox="0 0 16 16"
          >
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
            />
            <path
              fill-rule="evenodd"
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <button
    class="button info disabled:bg-blue-200 disabled:border-none disabled:shadow-none disabled:cursor-not-allowed"
    [disabled]="!form.valid"
  >
    {{ submitText | uppercase }}
  </button>
</form>
